doctype html
html
  head
    script.
      setTimeout("location.reload()",30000);
    title Monitering
    link(rel='stylesheet', href='assets/css/usermonitering.css')
    meta(charset='utf-8')
  body
    block content
      
